<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="home-page">

  	<h1>General Nonsense</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. Dolphin</p>
  		<input type="radio" name="q1" value="q1a1">Pachirisu<br>
  		<input type="radio" name="q1" value="q1a2">Rabies<br>
  		<input type="radio" name="q1" value="Pooplio">Pooplio<br>
  		<input type="radio" name="q1" value="q1a4">Doink Dada<br>
  	<p>2. Peasant: 76</p>
  		<input type="radio" name="q2" value="q2a1">Pooplio<br>
  		<input type="radio" name="q2" value="q2a2">Doink Dada<br>
  		<input type="radio" name="q2" value="Rabies">Rabies<br>
  		<input type="radio" name="q2" value="q2a4">Pachirisu<br>
  	<p>3. Is your mummaguy?</p>
  		<input type="radio" name="q3" value="Odadalaids">Odadalaids<br>
  		<input type="radio" name="q3" value="q3a2">Oddi<br>
  		<input type="radio" name="q3" value="q3a3">Oddie<br>
  		<input type="radio" name="q3" value="q3a4">Crying<br>
  	<p>4. Mrs. Nath.</p>
  		<input type="radio" name="q4" value="q4a1">Schnee, Schene Cneo<br>
  		<input type="radio" name="q4" value="q4a2">Edoubadr Mucnahbr>
  		<input type="radio" name="q4" value="q4a3">Salbaror Tally<br>
  		<input type="radio" name="q4" value="Schnee, Scnee, Acne!">Schnee, Scnee, Acne!<br>
  	<p>Skask</p>
  		<input type="radio" name="q5" value="q5a1">Schask<br>
  		<input type="radio" name="q5" value="q5a2">Dask<br>
  		<input type="radio" name="q5" value="They Give The Rice To The Baby The!2/"They Give The Rice To The Baby The!2/<br>
  		<input type="radio" name="q5" value="q5a4">Sisk, Task<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

